@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text h1{
        font-size:38px;
    }

    .hero-text p{
        font-size:18px;
    }

}